body {
  font-family: sans-serif;
}
svg{
  height: 7vh;
  color: white;
  margin-left: 1vw;
  margin-top: 1vh;
}
svg:hover{
  height: 7vh;
  color:#a4bbf8;
  margin-left: 1vw;
  margin-top: 1vh;
}
h1 {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.15rem;
}
h2 {
  color: black;
  font-family: "PT Sans", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}
h3 {
  color: black;
  font-size: 1rem;
}
h4 {
  font-family: "Open Sans";
  background-color: #7035a0; 
  color: white;
  display: inline-block;
  font-size: 0.8rem;
  padding: 6px 10px;
  border-radius: 14px;
  margin: 0.3rem 0;
  font-weight: 400;
}
h5 {
  color: black;
  font-size: 0.8rem;
  /* line-height: 0; */
  font-weight: 500;
}
h6 {
  font-size: 0.9rem;
  margin: 0;
  margin-top: 3%;
  font-weight: 600;
  font-style: italic;
}
p {
  color: black;
  font-size: 1rem;
  font-family: serif;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;
  height: 9vh;
  background-color: #7035a0;
  z-index: 5;
}
#content {
  margin-top: 9vh;
  margin-left: 10vw;
  margin-right: 10vw;
  color: white;
  text-align: left;
}
#title {
  color: white;
  background-color: #7035a0;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 0;
}
button {
  font-weight: bold;
  color: white;
  background-color: #7035a0;
  border: none;
  padding: 6px;
  border-radius: 7px;
}
button:hover {
  opacity: 0.3;
}
#back-button{
  background-color: #7035a0;
  padding: 8px;
  border: 2px solid #7035a0;
  color:white;
  border-radius: 5px;
  position: fixed;
  top: 13vh;
  left: 3vw;
  margin: 0;
  font-size: 0.8rem;
  font-weight: bold;
}
#back-button:hover{
  opacity: 0.5;
}
.container {
  display: grid;
  width: 80vw;
  margin-top: 0vh;
  margin-bottom: 5vh;
  grid-template-columns: 25vw 30vw 22vw;
  grid-template-rows: 65vh auto;
  column-gap: 2.5vh;
  row-gap: 2.5vh;
  grid-template-areas:
    "a b c"
    "d d d";
}
#map,
#filters{
  padding: 10px;
  border-radius: 5px;
  /* overflow: scroll; */
}
#explanation {
  padding: 0;
  border-radius: 5px;
}
#map {
  background-color: grey;
  grid-area: a;
  z-index: 1;
}
#dorms {
  grid-area: b;
  overflow-y: auto;
  border-radius: 5px;
}
#filters {
  background-color: rgb(114, 66, 175, 25%);
  color: black;
  grid-area: c;
  font-size: 14px;
  text-align: left;
  overflow-y: visible;
}
#filters form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#explanation {
  grid-area: d;
  
}
#explanation table{
  border-radius: 5px;
  background-color: none;
  }
#explanation td, #explanation th{
width: 20vw;
padding: 8px;
}
#explanation th{
  font-size: 0.95rem;

}
#explanation td{
  width: 20vw;
  vertical-align: top;
  font-size: 0.85rem;
  padding: 10px;


  }

table {
  border-collapse: separate;
}

td,
th {
  font-size: 12px;
  border: 1px solid white;
  padding: 7px;
  width: 100%;
  color: rgb(45, 45, 45);
  font-family: "Roboto", sans-serif;
}
th{
  background-color:#7035a0;
  color: white;
  position: sticky;
  top:0;
}

tr:nth-child(even) {
  background-color: rgb(114, 66, 175, 25%);
}

tr:hover {
  background-color: rgb(0, 0, 0, 25%);
}

#filter-title {
  margin: 0;
  padding: 3px 6px;
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
  background-color: #7035a0;
  display: inline-block;
  border-radius: 4px;
  /* font-style: italic; */
  color: white;
}

.dorm-container {
  display: grid;
  width: 80vw;
  margin-top: 0vh;
  margin-bottom: 5vh;
  grid-template-columns: 25vw 50vw;
  grid-template-rows: auto;
  column-gap: 5vw;
  grid-template-areas: "x y";
}
#left{
  grid-area: x;
}
/* #left {
  grid-area: x;
  position: fixed;
  left: 10vw;
  top: 10vh;
  width: 25vw;
} */
#right {
  grid-area: y;
}
#features{
  background-color: rgb(114, 66, 175, 25%);
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  max-width: 1000px;
}
#features p{
  margin: 10px 0;
  /* font-family: sans-serif; */
  font-size: 1rem;
}
#features-title{
  font-size: 1.3em;
  color:#7035a0;
  margin: 0;
  letter-spacing: 0px;
  font-style: normal;
}
.italic{
  font-style: italic;
}
mark{
  /* background-color:rgb(114, 66, 175, 0%); */
  background-color: rgb(251, 240, 136);
  color:#7035a0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.95rem;

}

/* .filter-container {
  display: grid;
  padding: 0;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas:
    "a b c d";
}

#explanantion h4{
  font-family: "Open Sans", sans-serif;
  background-color: #7035a0; 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  padding: 12px;
  border-radius: 0;
  margin: 0;
  font-weight: 600;
} */

.table-hover tr{
  background-color: #dcd0eb;
  /* background-color: white; */

}
.table-hover>tbody>tr:hover {
  background-color: #dcd0eb; 
  /* background-color: white; */
}

/* photo slideshow styling*/
.image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.image.active {
  border: solid 5px black;
}

.image:hover {
  opacity: 0.7;
}
#featured_image {
  margin: auto;
  width: 50vw;
  height: 37.5vw;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

#featured_caption{
  margin: auto;
  width: 50vw;

}

.next, .prev, .close {
  position: relative;
  color: white;
  border-width: 0px;
  font-size: 1.5em;
}
.next, .prev {
  background: #252525;
  border-radius: 45px;
  width: 45px;
  height: 45px;
  padding-top: 4px;
}
.next:hover, .prev:hover, .close:hover {
  background: #252525cf;
}
.prev {
  position: absolute;
  margin-top: 18.8vw;
  margin-left: 1vw;
  transform: translate(0%, 0);
  padding-left: 4px;

}
.next {
  position: absolute;
  margin-top: 18.8vw;
  margin-left: 49vw;
  transform: translate(-100%, 0);
  padding-left: 8px;

}
.table-small{visibility: hidden;}

/* Media Queries */
/* @media (max-width: 1200px) {
  #featured-image{
    width: 38vw;
  }
  main {
      grid-template-rows: 1fr;
      grid-template-areas:
      "top";
  }
  main .cards { display: none; }
  .featured_image {
      width: 100%;
  }
  .prev {
  top: 35vh;
  left: 2vw;
  }
  .next {
      top: 35vh;
      right: 2vw;
  }
}
@media (max-width: 600px) {
  #featured-image{
    width: 80vw;
  }
} */

/* photo slideshow styling end */
@media (max-width: 1200px){
  #back-button{
    background-color: #7035a0;
    color: white;
    padding: 8px;
    border: 2px solid white;
    border-radius: 5px;
    position: fixed;
    top: 2vh;
    left: 85vw;
    margin: 0;
    z-index: 10;
    width: fit-content;
  }
  .container {
    display: grid;
    width: 80vw;
    margin-top: 0vh;
    grid-template-columns: 37vw 37vw;
    grid-template-rows: 50vh auto auto auto;
    column-gap: 2.5vh;
    row-gap: 2.5vh;
    grid-template-areas:
    "a b"
    "c b"
    "d d";
  }
  
  /* #gender_title{grid-area: 1;}
  #campus_title{grid-area: 2;}
  #ada_title{grid-area: 3;}
  #type_title{grid-area: 4;}
  #gender{grid-area: 5;}
  #campus{grid-area: 6;}
  #ada{grid-area: 7;}
  #type{grid-area: 8;}
  .table-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
    "1 2"
    "5 6"
    "3 4"
    "7 8";
  } */
  
}

@media (max-width: 1000px){
  #features {
    max-width: 300px;
  }
  .dorm-container {
    display: grid;
    margin-top: 0vh;
    grid-template-columns: 78vw;
    grid-template-rows: auto auto;
    column-gap: 5vw;
    grid-template-areas: 
    "x"
    "y";
  }
  #featured_image{
    width: 80vw;
    height: 60vw;

  }
  #featured_caption{
    margin: auto;
    width: 80vw;
  
  }
  .prev {
    position: absolute;
    margin-top: 30vw;
    margin-left: 1vw;
    transform: translate(0, -50%);
    padding-left: 4px;
  
  }
  .next {
    position: absolute;
    margin-top: 30vw;
    margin-left: 79vw;
    transform: translate(-100%, -50%);
    padding-left: 8px;
  
  } 
  .table-small{
    visibility: visible;  }
  .table-big{visibility: hidden;}

  
}
@media (max-width: 600px){
  #back-button{
    top: 2vh;
    left: 80vw;
  }
  #features {
    max-width: 400px;
  }
  
  .container {
    display: grid;
    width: 80vw;
    margin-top: 0vh;
    grid-template-columns: 37vw 37vw;
    grid-template-rows: auto auto auto auto;
    column-gap: 2.5vh;
    row-gap: 2.5vh;
    grid-template-areas:
      "c c"
      "d d"
      "b b";
  }
  #map{
    display: none;
  }
}